.btn-small {
    height: 24px;
    line-height: 24px;
    padding: 0 0.5rem;
}

.board-name {
  color: white;
  padding: .8em 0;
  margin: 0;
}

.card-action {
  padding: 10px 0.5rem !important
}

.material-icons {
  margin-right: 5px !important
}
.cardImage {
  height: 400px;
}
