<div ng-init="loadPinsToDom()">
    <h1>BOARD TITLE</h1>
    <div ng-repeat="pin in pinArray">
        <div class="pinCard">
            <h3>{{pin.title}}</h3>
            <img src="{{pin.imgurl}}">
            <p>{{pin.description}}</p>
            <button ng-click="deletePin(pin.pinid)">Delete Pin</button>
            <a ng-href="#/edit/{{pin.pinid}}"><button>Edit Pin</button></a>
        </div>
    </div>
    <div>
        <button ng-click="addNewPin()">Add New Pin</button>
    </div>
</div>


<!-- /boards/:boardid/edit/:pinid -->
