
<div class="container">
     <div class="row">
        <a class="waves-effect waves-light btn" ng-click="addNewPin()"><i class="material-icons left">note_add</i>Add New Pin</a>
        <div ng-init="loadPinsToDom()">
        <div class="col s6 m4 l3" ng-repeat="pin in pinArray">
          <div class="hoverable card">
            <div class="card-image">
              <img src="{{pin.imgurl}}">
              <span class="card-title">{{pin.title}}</span>
            </div>
            <div class="card-content">
              <p>{{pin.description}}</p>
            </div>
            <div class="card-action">
                <a class="waves-effect waves-light btn btn-small" ng-click="deletePin(pin.pinid)"><i class="material-icons left">delete</i>Delete</a>
                <span class="right"><a class="waves-effect waves-light btn btn-small" ng-click="editPin()"><i class="material-icons left">mode_edit</i>Edit</a></span>
            </div>
          </div>
        </div>
        </div>
      </div>
</div>
