<section class="auth-form">
    <h1>Login or Register</h1>
    <div>
        Email: <input type="text" autofocus="true" ng-model="account.email" ng-keypress="enterKeyPressed($event)">
    </div>
    <div>
        Password: <input type="password" ng-model="account.password" ng-keypress="enterKeyPressed($event)">
    </div>
    <div>
        <button class="btn btn-info" ng-click="login()" >Login</button>
        <button class="btn btn-info" ng-click="register()">Register</button>
    </div>
</section>
