<div class="container">
    <h1>New Pin</h1>
    <form>
      <div class="form-group">
        <label for="pin-title">Title</label>
        <input type="text" name="pin-title" class="form-control" placeholder="Bro, have you seen this title?" ng-model="newPin.title"/>
        <label for="pin-image">Link to Image</label>
        <input type="text" name="pin-image" class="form-control" placeholder="Paste Image Link Here" ng-model="newPin.imgurl"/>
        <label for="pin-description">Description</label>
        <input type="text" name="pin-description" class="form-control" placeholder="Dude, tell me all about this pin for real" ng-model="newPin.description"/>
        <label for="boardSelector">Select Board: </label>
        <md-select class="form-control" name="boardSelector" ng-model="newPin.boardid">
          <md-option ng-value="board.boardid" ng-repeat="board in $parent.userBoards">{{board.name}}</md-option>
        </md-select>
      </div>
        <button class="btn btn-default" ng-click="pushPin()">Submit</button>
    </form>
</div>
