<div class="container">
    <h1>New Pin</h1>
    <form>
        <div class="form-group">
            <label>Pin Title</label>
            <input type="text" class="form-control" placeholder="Bro, have you seen this title?" ng-model="newPin.title"/>
            <input type="text" class="form-control" placeholder="Paste Image Link Here" ng-model="newPin.imgurl"/>
            <input type="text" class="form-control" placeholder="Dude, tell me all about this pin for real" ng-model="newPin.description"/>
        </div>
        <button class="btn btn-default" ng-click="pushPin()">Submit</button>
    </form>
</div>
